<!-- Partial: DEMANDE_REINSCRIPTION (wildcard générique) -->
<!-- Cas: Candidat demande à se réinscrire — contexte non spécifique -->
<!-- Note: Les cas EXAM_DATE_PAST_VALIDATED et RESULTAT_NON_ADMIS ont leurs propres templates legacy -->
<b>Concernant votre demande de réinscription</b><br>
Vous souhaitez vous réinscrire à l'examen VTC. C'est tout à fait possible.<br>
<br>
{{#if uber_20}}
<b>Information importante :</b> Dans le cadre de l'offre Uber, les frais de votre première inscription avaient été pris en charge par CAB Formations. Cette offre n'est valable qu'<b>une seule fois</b>.<br>
<br>
{{/if}}
<b>Pour vous réinscrire :</b><br>
<ol>
<li>Connectez-vous sur <a href="https://www.exament3p.fr">www.exament3p.fr</a></li>
<li>Sélectionnez une nouvelle date d'examen</li>
<li>Procédez au paiement des frais d'inscription (241€)</li>
</ol>
<b>Bonne nouvelle :</b> vous pouvez refaire notre formation <b>gratuitement</b> pour rafraîchir vos connaissances via la plateforme e-learning.<br>
