<!-- Partial: Réponse à l'intention QUESTION_SESSION -->
<!-- Candidat pose une question sur les sessions de formation -->
{{#if show_session_info}}
<b>Concernant votre formation en visioconférence</b><br>
La formation en visioconférence avec formateur est <b>fortement recommandée</b> pour maximiser vos chances de réussite à l'examen VTC. Elle n'est pas obligatoire, mais elle complète efficacement la plateforme e-learning à laquelle vous avez également accès.<br>
<br>
{{#if session_assigned}}
<!-- Session déjà assignée - rappeler les dates avec conscience temporelle -->
{{#if session_finished}}
Votre dernière session de formation était :<br>
{{else}}
{{#if session_in_progress}}
Votre session de formation est <b>en cours</b> :<br>
{{else}}
Votre session de formation est confirmée :<br>
{{/if}}
{{/if}}
{{#if session_is_jour}}
→ <b>Cours du jour</b> : du {{session_date_debut}} au {{session_date_fin}} (8h30-17h30, pause 1h le midi)<br>
{{else}}
→ <b>Cours du soir</b> : du {{session_date_debut}} au {{session_date_fin}} (18h-22h)<br>
{{/if}}
<br>
{{#if session_finished}}
La formation se déroule en visioconférence.<br>
{{else}}
{{#if session_in_progress}}
La formation se déroule en visioconférence. Si vous n'avez pas encore reçu le lien d'invitation, merci de vérifier vos spams.<br>
{{else}}
La formation se déroule en visioconférence. Vous recevrez le lien d'invitation par email{{#if session_starts_soon}} <b>très prochainement</b>{{else}} quelques jours avant le début de la formation{{/if}}.<br>
{{/if}}
{{/if}}
{{else}}
<!-- Pas de session assignée - infos génériques -->
{{#if session_preference_soir}}
Les <b>cours du soir</b> que vous souhaitez se déroulent de 18h à 22h.<br>
C'est idéal pour les personnes en activité professionnelle.<br>
La formation dure 2 semaines (10 soirées du lundi au vendredi).<br>
{{else}}
{{#if session_preference_jour}}
Les <b>cours du jour</b> que vous souhaitez se déroulent de 8h30 à 17h30 (avec une pause d'1h le midi).<br>
La formation est intensive sur 1 semaine (5 jours du lundi au vendredi).<br>
{{else}}
Nous proposons deux types de sessions :<br>
→ <b>Cours du jour</b> : formation intensive sur 1 semaine (8h30-17h30, pause 1h le midi)<br>
→ <b>Cours du soir</b> : formation sur 2 semaines pour les personnes en activité (18h-22h)<br>
{{/if}}
{{/if}}
{{/if}}
{{/if}}
