<!-- Partial: QUESTION_CARTE_VTC (wildcard générique) -->
<!-- Cas: Candidat pose une question sur la carte VTC -->
<!-- Note: Le cas RESULTAT_ADMIS a son propre template legacy avec procédure détaillée -->
<b>Concernant la carte professionnelle VTC</b><br>
La carte professionnelle VTC est délivrée <b>après réussite à l'examen</b>. Pour l'obtenir, vous devrez :<br>
<ol>
<li>Réussir l'examen VTC (épreuve théorique)</li>
<li>Obtenir votre attestation de réussite</li>
<li>Vous rendre en préfecture avec les documents requis (attestation de réussite, justificatif de domicile, photo d'identité)</li>
</ol>
Le délai d'obtention est généralement de <b>2 à 4 semaines</b> après dépôt du dossier en préfecture.<br>
<br>
{{#if resultat_admis}}
<b>Félicitations pour votre réussite !</b> Vous pouvez dès maintenant entamer les démarches auprès de votre préfecture.<br>
{{/if}}
