<b>Accès à votre dossier CMA</b><br>
Nous ne parvenons plus à accéder à votre dossier sur le portail ExamT3P avec les identifiants dont nous disposons :<br>
&nbsp;&nbsp;→ Identifiant : <b>{{identifiant_examt3p}}</b><br>
&nbsp;&nbsp;→ Mot de passe : <b>{{mot_de_passe_examt3p}}</b><br>
<br>
Il est probable que votre mot de passe ait été modifié depuis.<br>
<br>
Merci de nous communiquer votre <b>mot de passe actuel</b> afin que nous puissions accéder à votre dossier et faire le point sur votre situation.<br>
<br>
<i>Si vous ne vous en souvenez plus, vous pouvez le réinitialiser sur <a href="https://www.exament3p.fr">exament3p.fr</a> via "Mot de passe oublié", puis nous communiquer le nouveau.</i><br>
