<!-- Partial: Statut PRÊT À PAYER -->
Votre dossier est <b>complet</b> et le paiement des frais d'inscription est en cours de traitement.<br>
{{#if uber_20}}
<i>Dans le cadre du partenariat Uber, les frais d'inscription ({{frais_examen_complet}}€) sont pris en charge.</i><br>
{{/if}}
<br>
<b>Prochaines étapes :</b><br>
1. Paiement des frais d'inscription auprès de la CMA<br>
2. Vérification de votre dossier par la CMA (5 à 10 jours ouvrés)<br>
3. Si tout est conforme, vous recevrez votre convocation d'examen<br>
{{#if date_examen}}
<br>
{{> partials/common/exam_date_line}}{{#if cma_departement}} (CMA {{cma_departement}}){{/if}}<br>
<i>Cette date reste sous réserve de la validation de votre dossier par la CMA.</i><br>
{{/if}}
