<!-- Partial: UBER CAS E - Non éligible -->
<b>Éligibilité à l'offre Uber</b><br>
<br>
Nous avons vérifié votre dossier auprès d'Uber et malheureusement, votre profil n'est pas éligible à l'offre VTC en partenariat avec Uber.<br>
<br>
<b>Ce que cela signifie :</b><br>
Uber applique ses propres critères d'éligibilité pour cette offre. Nous n'avons pas de visibilité sur les raisons de cette décision.<br>
<br>
<b>Ce que vous pouvez faire :</b><br>
Contactez le support Uber pour comprendre pourquoi :<br>
→ Connectez-vous à l'application Uber Driver → Compte → Aide<br>
→ Ou rendez-vous sur <a href="https://help.uber.com">help.uber.com</a><br>
<br>
<b>Alternatives pour passer votre examen VTC :</b><br>
Si Uber confirme que vous n'êtes pas éligible à l'offre à 20€, vous pouvez tout de même passer votre examen VTC avec CAB Formations via d'autres financements :<br>
→ <b>CPF (Compte Personnel de Formation)</b> : formation 100% financée si vous avez des droits disponibles<br>
→ <b>France Travail / Pôle Emploi</b> : prise en charge possible selon votre situation<br>
→ <b>Financement personnel</b> : inscription directe à notre formation complète<br>
<br>
<b>Souhaitez-vous être rappelé(e) par un conseiller</b> pour étudier ensemble la meilleure option de financement ? Répondez simplement à cet email et nous vous recontacterons.<br>
<br>
