<!-- Partial: RESULTAT ADMISSIBLE (théorie réussie, pratique à venir) -->
<b>Félicitations pour votre réussite à l'examen théorique !</b><br>
<br>
Vous avez obtenu le statut <b>ADMISSIBLE</b>, ce qui signifie que vous avez réussi l'épreuve théorique de l'examen VTC.<br>
<br>
<b>Prochaine étape : l'examen pratique de conduite</b><br>
Vous allez être {{#if is_female}}convoquée{{else}}convoqué{{/if}} par la CMA pour passer l'épreuve pratique. Pour cet examen, vous devrez vous présenter avec un <b>véhicule double commande</b>.<br>
<br>
<b>Nous pouvons vous accompagner pour cette étape :</b><br>
Nous proposons des <b>formations de préparation à l'examen pratique</b> (2h ou 4h) incluant la <b>mise à disposition du véhicule double commande</b> le jour de l'examen. Ces formations sont <b>finançables via votre CPF</b>.<br>
<br>
Souhaitez-vous être {{#if is_female}}recontactée{{else}}recontacté{{/if}} par un conseiller pour en savoir plus sur nos offres de formation pratique ? Si oui, répondez simplement à ce mail et un conseiller vous rappellera.<br>
{{#if demande_attestation_resultat}}
<br>
<b>Concernant votre attestation d'admissibilité :</b><br>
Seule la <b>CMA de votre département de dépôt</b> est habilitée à vous délivrer ce document officiel. Nous vous invitons à les contacter directement pour en faire la demande.<br>
{{/if}}
