<!-- Partial: RESULTAT NON ADMISSIBLE (théorie échouée) -->
<b>Concernant votre résultat d'examen</b><br>
<br>
Malheureusement, l'épreuve théorique n'a pas été validée cette fois-ci. Ne vous découragez pas, l'examen VTC est exigeant et beaucoup de candidats le réussissent au deuxième essai.<br>
<br>
{{#if uber_20}}L'offre Uber ayant pris en charge les frais de votre première inscription, celle-ci n'est malheureusement <b>pas renouvelable</b>. Cependant, nous pouvons vous accompagner pour retenter l'examen :{{else}}Nous pouvons vous accompagner pour retenter l'examen :{{/if}}<br>
<br>
<b>Nos formations pour vous préparer à nouveau :</b><br>
<b>1. Formation en ligne (e-learning)</b> : Révisez à votre rythme depuis chez vous.<br>
<b>2. Formation en présentiel</b> : Sessions encadrées pour une préparation intensive.<br>
Ces formations sont <b>finançables via votre CPF</b>.<br>
<br>
Souhaitez-vous être {{#if is_female}}recontactée{{else}}recontacté{{/if}} par un conseiller pour étudier ensemble la meilleure option ? Si oui, répondez simplement à ce mail.<br>
